Lemon Man/Source/Packages/
Lemon Man/Backup/
Lemon Man/Plugins/*
!Lemon Man/Plugins/GamePlugin.core.dll
!Lemon Man/Plugins/GamePlugin.core.pdb
!Lemon Man/Plugins/GamePlugin.core.xml
!Lemon Man/Plugins/EditorPlugin.editor.dll
!Lemon Man/Plugins/EditorPlugin.editor.pdb
!Lemon Man/Plugins/EditorPlugin.editor.xml
Lemon Man/NVorbis.dll
Lemon Man/OpenTK.GLControl.dll
Lemon Man/OpenTK.GLControl.xml
Lemon Man/OpenTK.dll
Lemon Man/OpenTK.dll.config
Lemon Man/OpenTK.pdb
Lemon Man/OpenTK.xml
Lemon Man/FarseerDuality.xml
Lemon Man/FarseerDuality.pdb
Lemon Man/Microsoft.Web.XmlTransform.dll
Lemon Man/NVorbis.XML
Lemon Man/FarseerDuality.dll
Lemon Man/EditorUserData.xml
Lemon Man/PopupControl.dll
Lemon Man/PopupControl.pdb
Lemon Man/DualityUpdater.exe
Lemon Man/DualityPrimitives.pdb
Lemon Man/WeifenLuo.WinFormsUI.Docking.dll
Lemon Man/WeifenLuo.WinFormsUI.Docking.pdb
Lemon Man/logfile.txt
Lemon Man/logfile_editor.txt
Lemon Man/logfile_editor_prev.txt
Lemon Man/perflog.txt
Lemon Man/Aga.Controls.dll
Lemon Man/Aga.Controls.pdb
Lemon Man/Duality.pdb
Lemon Man/Duality.xml
Lemon Man/AdamsLair.WinForms.pdb
Lemon Man/AdamsLair.WinForms.xml
Lemon Man/perflog_editor.txt
Lemon Man/DDoc.chm
Lemon Man/DesignTimeData.dat
Lemon Man/DualityEditor.pdb
Lemon Man/DualityEditor.xml
Lemon Man/DualityLauncher.exe
Lemon Man/DualityLauncher.exe.config
Lemon Man/DualityLauncher.pdb
Lemon Man/DualityPrimitives.XML
Lemon Man/AdamsLair.WinForms.dll
Lemon Man/Source/Code/CorePlugin/bin/
Lemon Man/Source/Code/CorePlugin/obj/
Lemon Man/Source/Code/CorePlugin/GamePlugin.core.xml
Lemon Man/Source/Code/EditorPlugin/bin/
Lemon Man/Source/Code/EditorPlugin/obj/
Lemon Man/Source/Code/EditorPlugin/GamePlugin.core.xml
Lemon Man/Source/Code/ProjectPlugins.v12.suo